
#navImg{
    -fx-opacity: 0.5;
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
}
#navImg:hover{
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-opacity: 0.5;
}

