
#navHeader{
    -fx-background-color: gray;

}
#navLabel{
    -fx-font-size: 1em;
    -fx-font-family: "Arial";
    -fx-text-fill: white;
    -fx-opacity: 1;
    -fx-padding: 5px;
}
#labelType2{
    -fx-font-size: 1.2em;
    -fx-font-family: "Arial";
    -fx-text-fill: darkorange;
    -fx-opacity: 1;
    -fx-padding: 5px;
}
#navLabel:hover{
    -fx-text-fill: darkorange;
}
#navHeadline{
    -fx-font-size: 2em;
    -fx-font-family: "Arial";
    -fx-text-fill: darkorange;
    -fx-opacity: 1;
    -fx-padding: 5px;

}

#headline {
    -fx-font-size: 1.7em;
    -fx-text-fill: darkorange;
    -fx-padding: 5px;
}

#descline {
    -fx-font-size: 1.7em;
    -fx-text-fill: darkorange;
    -fx-padding: 5px;
}

#scrollpane {
    -fx-background-color: transparent;
    -fx-focus-color: transparent;
}

#questionBox {
    -fx-border-color: darkorange;
    -fx-border-width: 0px 0px 1px 0px;
}

#loginStyle{
    -fx-opacity: 0.92;
    -fx-background-color: white;
    -fx-background-radius: 5;
}
#label{
    -fx-font-size: 1em;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: black;
    -fx-opacity: 1;

}
#frontPage{
    -fx-font-size: 1.5em;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: black;
    -fx-opacity: 2;

}

#button{
    -fx-background-color: darkorange;
    -fx-border: none;
    -fx-color: white;
    -fx-padding: 5px 70px;
    -fx-text-align: center;
    -fx-text-decoration: none;
    -fx-display: inline-block;
    -fx-font-size: 12px;
}
#combobox{
    -fx-border-color: darkorange;
    -fx-background-color: white;
    -fx-color: white;
    -fx-padding: 5px 70px;
    -fx-text-align: center;
    -fx-text-fill: darkorange;
    -fx-display: inline-block;
    -fx-font-size: 1em;


}
#combobox1{
    -fx-border-color: darkorange;
    -fx-background-color: white;
    -fx-color: white;
    -fx-text-align: center;
    -fx-text-fill: darkorange;
    -fx-display: inline-block;



}

#button:hover{
    -fx-background-color: E37200;
}

#input, .radio-button{
    -fx-focus-color: darkorange;
    -fx-faint-focus-color: #d3524422;

    -fx-highlight-fill: -fx-accent;
    -fx-highlight-text-fill: black;

    -fx-background-insets: -0.2, 1, -1.4, 3;
    -fx-background-radius: 3, 2, 4, 0;

}

#icon{
    -fx-text-fill: black;
    -fx-font-size: 1.5em;
}
#frontIcon, #frontHat{
    -fx-alignment: top-left;
}

#icon:hover, #shortenHover:hover{
    -fx-text-fill: darkorange;
}

/* The increment and decrement button CSS class of scrollbar */
.increment-button, .decrement-button, .increment-arrow, .decrement-arrow {
    visibility: hidden;
}

.scroll-bar, .scroll-bar .track, .scroll-pane{
    -fx-background-color: transparent;
}

.scroll-bar .thumb{
    -fx-background-color: darkorange;
    -fx-background-radius: 5em;
}

.popup {
    -fx-font-size: 16px;
    -fx-background-color: transparent;
    -fx-text-alignment: center;
    -fx-background-radius: 5px;
}

.error {
    -fx-background-color: lightcoral;
}

.info {
    -fx-background-color: lightblue;
}

.success {
    -fx-background-color: lightgreen;
}

.popup .label {
    -fx-padding: 20;
}
