
#navHeader{
    -fx-background-color: gray;

}
#navLabel{
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
    -fx-padding: 5px;
}
#navLabel:hover{
    -fx-text-fill: darkorange;
}
#navHeadline{
    -fx-font-size: 24pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: darkorange;
    -fx-opacity: 1;
    -fx-padding: 5px;

}

#loginStyle{
    -fx-background-color: white;
    -fx-background-radius: 5;

}

/*#loginStyle{
  -fx-padding: 5px;
    -fx-background-color: white;
}*/


/*#navImg:hover{
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-opacity: 0.5;
}

#navImg{
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
}
*/

